<!doctype html>
<html lang="en">
<head>
    <title>Static WebSite</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <h1>Retail Project Activity</h1>
    <nav>
        <ul>
            <li>
                <a href="{{site.baseurl}}/dash">Dashboard</a>
            </li>
            <li>
                <a href="{{site.baseurl}}/myproj">My Project</a>
            </li>
        </ul>
    </nav>
</header>
    {{content}}
</body>
</html>